@import "reset.css";
.img,
.loginPop h2,
.loginPop li:nth-child(-n+2) em,
.loginPop li:nth-child(3) label input,
.loginPop li:nth-child(5) .left:before,
.loginPop .ohter-login a[title=qq],
.loginPop .ohter-login a[title=weibo],
.loginPop .ohter-login a[title=weixin] {
  background: url("../images/new-sso.png") no-repeat;
}
.auto,
.top .topMain,
.banner .bannerMain {
  width: 960px;
  margin: 0 auto;
}
body {
  background: #f9f9f9;
}
.top {
  width: 100%;
}
.top .topMain {
  height: 64px;
  padding-top: 25px;
}
.top .topMain h1 a {
  display: block;
  width: 170px;
  height: 36px;
  margin-bottom: 28px;
  text-indent: -9999px;
  background: url("../images/new-sso.png") no-repeat 0 -306px;
}
.banner {
  width: 100%;
  height: 542px;
  background: #46a4e9 url("../images/loginbanner2.jpg");
}
.banner .bannerMain {
  height: 542px;
  background: url("../images/loginbanner1.jpg");
  position: relative;
}
.footer {
  width: 100%;
  height: 85px;
  padding-top: 27px;
}
.footer p {
  line-height: 22px;
  color: #999999;
  text-align: center;
  font-size: 14px;
}
.loginPop {
  width: 332px;
  height: 446px;
  position: absolute;
  top: 53px;
  right: 0px;
  padding: 22px 24px 0;
  box-sizing: border-box;
}
.loginPop h2 {
  width: 82px;
  height: 19px;
  background-position: -100px -2px;
}
.loginPop .code-prompt {
  display: block;
  height: 15px;
  padding-top: 26px;
  color: red;
}
.loginPop li:nth-child(-n+2) {
  position: relative;
}
.loginPop li:nth-child(-n+2) input {
  margin-bottom: 10px;
  width: 252px;
  height: 30px;
  border: 1px solid #dddddd;
  padding-left: 30px;
}
.loginPop li:nth-child(-n+2) em {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
}
.loginPop li:nth-child(-n+2) .fk-name {
  background-position: -88px -31px;
}
.loginPop li:nth-child(-n+2) .fk-psd {
  background-position: -28px -30px;
}
.loginPop li:nth-child(3) {
  position: relative;
  padding-left: 20px;
  height: 14px;
  margin-bottom: 10px;
}
.loginPop li:nth-child(3) label {
  color: #999999;
  float: left;
  line-height: 14px;
  margin-right: 118px;
}
.loginPop li:nth-child(3) label input {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  background-position: 0 -66px;
  position: absolute;
  left: 0;
  top: 0;
}
.loginPop li:nth-child(3) label input:checked {
  background-position: -20px -66px;
}
.loginPop li:nth-child(3) a {
  color: #1a9eff;
  line-height: 14px;
}
.loginPop li:nth-child(3) a:hover {
  text-decoration: underline;
}
.loginPop li:nth-child(3) span {
  color: #1a9eff;
  margin: 0 5px;
}
.loginPop li:nth-child(4) button {
  width: 284px;
  line-height: 38px;
  background: #1a9eff;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  outline: 0;
}
.loginPop li:nth-child(5) {
  line-height: 14px;
  position: relative;
  margin-bottom: 124px;
}
.loginPop li:nth-child(5) .left {
  color: #999999;
  padding-left: 18px;
  margin-right: 120px;
}
.loginPop li:nth-child(5) .left:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: -165px -74px;
  position: absolute;
  top: 0;
  left: 0;
}
.loginPop li:nth-child(5) .phone-code {
  color: #1a9eff;
}
.loginPop .line {
  width: 238px;
  height: 18px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  position: relative;
}
.loginPop .line span {
  width: 82px;
  line-height: 12px;
  position: absolute;
  top: -7px;
  left: 78px;
  color: #999999;
  background: #fff;
  text-align: center;
}
.loginPop .ohter-login {
  width: 150px;
  margin: 0 auto;
}
.loginPop .ohter-login a {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin: 0 10px;
}
.loginPop .ohter-login a[title=qq] {
  background-position: 0 -350px;
}
.loginPop .ohter-login a[title=weibo] {
  background-position: -30px -350px;
}
.loginPop .ohter-login a[title=weixin] {
  background-position: -60px -350px;
}
